@model Appointment

<div class="modal fade" id="addAppointment" aria-labelledby="addAppointmentLabel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAppointmentLabel">Добавление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form asp-action="Create" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  

                    <div class="form-group">
                        <label class="control-label"> Доктор </label>
                        <br />
                        <select name="doctorId">
                                @foreach (var item in ViewBag.Doctors) {
                                <option value="@item.Id.ToString()">@item.LastName.ToString()</option>
                                }
                            </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label"> Пациент </label>
                        <br />                        
                        <select name="clientId">
                            @foreach (var item in ViewBag.Clients)
                            {
                                <option value="@item.Id.ToString()">@item.LastName.ToString()</option>
                            }
                        </select>
                    </div>                    

                    <div class="form-group">
                        <label asp-for=Complaints class="control-label"></label>
                        <input asp-for="Complaints" class="form-control" />
                        <span asp-validation-for="Complaints" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=Diagnosis class="control-label"></label>
                        <input asp-for="Diagnosis" class="form-control" />
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>                    

                    

                    <div class="form-group">
                        <label asp-for=CreatedDate class="control-label"></label>
                        @Html.EditorFor(model => model.CreatedDate, new { AddHtmlAttributeValue = new {@class = "datepicker"}})
                        
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>                  

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/jquery-ui-1.13.2.min.js">  </script>
    <script>
        $(document).ready(function () {
           $(".datepicker").datepicker({
              
              dateFormat: "dd-mm-yy",
              changemonth: true,
              changeyear: true
              });
           });
    </script>
}
